<footer>
	<div class="footerbar">
		<div class="container">
			<div class="sitemap">
				<div class="column">
					<h3>Welcome to TGN</h3>
					<ul>
						<li><a href="{{ config.get('app.www') }}">Terra Gaming Home</a></li>
						<li><a href="{{ config.get('app.www') }}/about/">What is TGN?</a></li>
						<li><a href="{{ config.get('app.www') }}/account/">Your Account</a></li>
						<li><a href="{{ config.get('app.www') }}/servers/">Our Servers</a></li>
						<li><a href="{{ config.get('app.www') }}/community/">Community</a></li>
						<li><a href="{{ config.get('app.www') }}/support/">Support</a></li>
					</ul>
				</div>
				<div class="column">
					<h3>Our Servers</h3>
					<ul>
						<li><a href="{{ config.get('app.www') }}/servers/terracraft">TerraCraft Online</a></li>
						<li><a href="{{ config.get('app.www') }}/servers/terracraftAwakened">TerraCraft Awakened</a></li>
						<li><a href="{{ config.get('app.www') }}/servers/teamspeak">TeamSpeak 3</a></li>
					</ul>
				</div>
				<div class="column">
					<h3>Your Account</h3>
					<ul>
						<li><a href="{{ config.get('app.www') }}/account/recover">Can't log in?</a></li>
						<li><a style="cursor: pointer;" data-toggle="modal" data-target="#registerBox">Create Account</a></li>
						<li><a href="{{ config.get('app.www') }}/account/management/">Account Summary</a></li>
						<li><a href="{{ config.get('app.www') }}/account/history">Account History</a></li>
						<li><a href="{{ config.get('app.www') }}/account/redeem">Redeem Codes</a></li>
					</ul>
				</div>
				<div class="column">
					<h3>Community</h3>
					<ul>
						<li><a href="{{ config.get('app.www') }}/community/">Community Home</a></li>
						<li><a href="{{ config.get('app.www') }}/community/forums/">Forums</a></li>
						<li><a href="{{ config.get('app.www') }}/community/members">Member List</a></li>
						<li><a href="http://youtube.terragaming.co.uk">Youtube Channel</a></li>
						<li><a href="http://live.terragaming.co.uk">Live</a></li>
					</ul>
				</div>
				<div class="column">
					<h3>Support</h3>
					<ul>
						<li><a href="{{ config.get('app.www') }}/support/">Support Home</a></li>
						<li><a href="{{ config.get('app.www') }}/support/tickets/">My Tickets</a></li>
						<li><a href="{{ config.get('app.www') }}/support/articles/">Browse Articles</a></li>
						<li><a href="{{ config.get('app.www') }}/support/gameplay/">Gameplay Support</a></li>
						<li><a href="{{ config.get('app.www') }}/about/contact">Contact Us</a></li>
					</ul>
				</div>
				<div class="spacer" style="clear: both;"></div>
			</div>
				<div class="footer">
					<div class="copyright">
						<span class="links">
							<a href="{{ config.get('app.www') }}">Home</a>
							<a href="{{ config.get('app.www') }}/about/sitemap">Sitemap</a>
							<a href="{{ config.get('app.www') }}/about/legal/tos">Terms of Service</a>
							<a href="{{ config.get('app.www') }}/about/legal/privacy">Privacy</a>
							<a href="{{ config.get('app.www') }}/about/contact">Contact Us</a>
						</span> <br />
						&copy;<?php auto_copyright(2013); ?> Terra Gaming Network - All Rights Reserved
				</div>
				<div class="helplinks">
						<span class="links">
							<a href="https://github.com/TerraGamingNetwork/Issues/issues">Report an Issue / Bug</a>
						</span> <br />
						Designed by Benjamin Pilgrim
				</div>
		</div>
	</div>
</footer>